/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/.failures.txt
/spec/reports/
/spec/fixtures/project/*
!/spec/fixtures/project/prepare.sh
!/spec/fixtures/project/cleanup.sh
/tmp/
/vendor/
*.gem
